@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-mono;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*:focus,
button:focus {
  outline: none;
}

input:focus-visible,
button:focus-visible,
a:focus-visible {
  outline: 2px solid #464646;
  transition: all 200ms ease-in;
}

.sticker-div {
  -webkit-filter: drop-shadow(-3px -3px 0px rgba(255, 255, 255, 1)) drop-shadow(3px -3px 0px rgba(255, 255, 255, 1))
    drop-shadow(-3px 3px 0px rgba(255, 255, 255, 1)) drop-shadow(3px 3px 0px rgba(255, 255, 255, 1));
  filter: drop-shadow(-3px -3px 0px rgba(255, 255, 255, 1)) drop-shadow(3px -3px 0px rgba(255, 255, 255, 1))
    drop-shadow(-3px 3px 0px rgba(255, 255, 255, 1)) drop-shadow(3px 3px 0px rgba(255, 255, 255, 1));
}

.sticker-div:focus-visible {
  -webkit-filter: drop-shadow(-3px -3px 0px rgba(255, 0, 128, 0.75)) drop-shadow(3px -3px 0px rgba(255, 0, 128, 0.75))
    drop-shadow(-3px 3px 0px rgba(255, 0, 128, 0.75)) drop-shadow(3px 3px 0px rgba(255, 0, 128, 0.75))
    drop-shadow(0 0 8px rgb(255, 0, 128));
  filter: drop-shadow(-3px -3px 0px rgba(255, 0, 128, 0.75)) drop-shadow(3px -3px 0px rgba(255, 0, 128, 0.75))
    drop-shadow(-3px 3px 0px rgba(255, 0, 128, 0.75)) drop-shadow(3px 3px 0px rgba(255, 0, 128, 0.75))
    drop-shadow(0 0 8px rgb(255, 0, 128));
}

/* Subtle shadows for iOS */
@supports (-webkit-touch-callout: none) {
  .sticker-div {
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 6px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 6px rgba(0, 0, 0, 0.2));
  }

  .sticker-div:focus-visible {
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 6px rgba(0, 0, 0, 0.2))
      drop-shadow(0 0 4px rgba(255, 0, 128, 0.5));
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5)) drop-shadow(-2px -2px 6px rgba(0, 0, 0, 0.2))
      drop-shadow(0 0 4px rgba(255, 0, 128, 0.5));
  }
}

/* Remove filter for browsers that don't support */
@supports not (filter: drop-shadow(1px 1px 0 black)) {
  .sticker-div,
  .sticker-div:focus-visible {
    filter: none;
    -webkit-filter: none;
  }
}

.custom-scrollbar {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 400px) {
  .centering-override {
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
}
